* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 0.8rem;
  /* color: var(--body-text); */
}

:root {
  --blue-hl: #9dd8ff;
  --blue-ll: #3cb1ff;
  --black: #0d0d0d;
  --body-text: #2a2a2a;
  --grey: #eff1f3;
  --offwhite: #feffff;
}

a {
  color: var(--body-text);
  text-decoration: none;
}
a:hover {
  color: var(--blue-ll);
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
/* .h3span {
  font-size: 1rem;
  font-weight: 100;
} */

p {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* UTILS  */

.icon {
  width: 20px;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 8px 11px;
}

.wrapper {
  max-width: 700px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.App {
  display: grid;
  justify-content: center;

  height: 100vh;
  background-color: var(--offwhite);
}

.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: 100vw;

  /* border: solid 1px var(--blue-hl); */
  background-color: var(--offwhite);
  /* padding: 0 20%; */
}

.main {
  /* border: solid 1px var(--blue-hl); */
  background-color: var(--offwhite);
  width: 100%;
}

/* NAV TOP  */

.nav-header {
  display: grid;
  grid-template-columns: 1fr 100px 40px 40px;
  align-items: center;
  background-color: var(--offwhite);
  padding: 10px 0;
}

/* NAV MAIN  */

.nav-main {
  /* border: solid 1px var(--blue-hl); */
  display: grid;
  place-content: center;
  background-color: var(--blue-hl);
  padding: 10px 0;
}

.nav-main ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
}

.nav-main a {
  font-size: 1rem;
}

/* HOMEPAGE  */
.hero {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* ASSETS  */

/* .assets-page {
  justify-content: center;
  display: grid;
  place-content: center;
} */

.assets-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 120px));
  gap: 20px;
}

.asset-card {
  display: grid;
  place-content: center;
  border: solid 1px var(--blue-hl);
  border-radius: 10px;
  background-color: white;
  padding: 10px 0;
}

.asset-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* ASSETS NAV TABS  */
.nav-assets {
  display: grid;
  place-content: center;
}

.nav-assets ul {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
}

.nav-assets .tab {
  width: 80px;
}

/* DASHBOARD */

.policy-card {
  margin-bottom: 10px;
  border: 1px solid var(--grey);
  border-radius: 10px;
  padding: 10px;
}

.policy-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  padding: 10px 15px;
}

.policy-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.policy-card-nav {
  text-align: right;
  padding: 10px 0;
}

/* FOOTER  */

.footer {
  /* border: solid 1px var(--blue-hl); */
  color: white;
  background-color: var(--blue-hl);
  padding: 10px 0;
  text-align: center;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
