* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 0.8rem;
  color: var(--body-text);
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--orange-hl);
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
/* .h3span {
  font-size: 1rem;
  font-weight: 100;
} */

p {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

.App {
  display: grid;
  /* place-content: center; */
  justify-content: center;
  height: 100vh;
  background-color: palegoldenrod;
}

.container {
  display: grid;
  grid-template-rows: 50px 100px 1fr 50px;
  width: 600px;
  background-color: palegreen;
}

/* NAV TOP  */

.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: aliceblue;
}

/* NAV MAIN  */

.nav-main {
  background-color: peachpuff;
}

/* .nav-list {
  display: grid;
  grid-template-columns: ;
} */

/* FOOTER  */

.footer {
  background-color: aliceblue;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
